.env
# Default ignored files
.pytetst_cache/
__pycache__/
/shelf/
/workspace.xml
.vagrant/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Auto gen IDE code
.idea/
.vscode/  
